<div class="container">
  <% if @client.contacts.size > 0 %>
  <div class="jumbotron">
    <ul>
      <% @contacts.each do |contact| %>
      <li>
        <p>
          <%= contact.full_name %>
        </p>
        <p>
          <%= contact.email %>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
  <% else %>
    <div class="jumbotron">
      <h3>
        Não existe Contatos
      </h3>
    </div>
  <% end %>

  <%= link_to 'Back', clients_path, :class => "btn btn-dark" %>

</div>
